<footer>
    <div class="divisor"> 
        <img src="/assets/logo2.jpg" alt="" style="height: 95px; width: 280px;margin: 5px;">
    </div>
    
    <div class="divisor" style="margin-left: 450px;">
        <ul>
            <li>UNIVERSIDAD DEL NORTE</li>
            <li>Estructura de Datos II</li>
            <li>Proyecto final</li>

        </ul>

    </div>

    <div class="divisor" style="float: right;">
        <ul>
            <li>Developed by:</li>
            <li>Leonardo Aguilera</li>
            <li>Mariana Oquendo</li>
            <li>Alvaro Cabrera</li>
        </ul>

    </div>


</footer>